[buildout]
package-name = croniter
develop = .
parts =
    scripts
    omelette
    test
    coverage
    report
    report-xml
extensions =
    mr.developer
    buildout.minitagificator
    buildout.dumppickedversions
auto-checkout =
sources-dir=${buildout:directory}/src.mrdeveloper
test-eggs= ${buildout:package-name} [test]
eggs = ${buildout:package-name}

[sources]

[scripts]
recipe=zc.recipe.egg
eggs = ${buildout:eggs}
    zest.releaser
    ipython
interpreter = scripts
scripts =
    ipython
    croniter
    fullrelease
    paster
    nose
    nosetests
    fullrelease
    lasttagdiff
    lasttaglog
    longtest
    postrelease
    prerelease
    release
    rst2html.py
    rst2latex.py
    rst2man.py
    rst2odt_prepstyles.py
    rst2odt.py
    rst2pseudoxml.py
    rst2s5.py
    rst2xetex.py
    rst2xml.py
    rstpep2html.py

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '-s', '${buildout:package-name}']
eggs = ${buildout:test-eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
include = '--source=${buildout:directory}/src'
sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--xml']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
sys.argv = sys.argv[:] + ['html', '-i']

[report-xml]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report-xml
initialization =
sys.argv = sys.argv[:] + ['xml', '-i']

[omelette]
recipe = collective.recipe.omelette
eggs = ${scripts:eggs}

[versions]

